---
layout: layout-base.njk
---

<article class="book" style="--Couleurs-Fond: {{ Couleurs.Fond }}; --Couleurs-Titre: {{ Couleurs.Titre }}; --Couleurs-TitrePremièreLigne: {{ Couleurs.TitrePremièreLigne }}; --Couleurs-Texte: {{ Couleurs.Texte }}; --Couleurs-PageTitres: {{ Couleurs.PageTitres }};">
  <header class="sections">
    <picture class="cover">
      {% image src=Couverture, alt="", width=304 %}
    </picture>

    <div class="metadata" style="--Fonts-Auteurice: {{ Fonts.Auteurice or 'inherit' }}; --Fonts-Collection: {{ Fonts.Collection or 'inherit' }}; --Fonts-Titre: {{ Fonts.Titre or 'linux-libertine' }}; --Fonts-SousTitre: {{ Fonts.SousTitre or Fonts.Titre or 'inherit' }};">
      <span class="collection">{{ Collection }}</span>
      <h1 class="title">{{ Titre }}</h1>
      {% if SousTitre %}<p class="subtitle">{{ SousTitre }}</p>{% endif %}
      <p class="authors">{{ Auteurice }}</p>
      {% if Préface %}<p class="preamble-authors">{{ Préface }}</p>{% endif %}
      {% if Récompenses %}
        <p class="preamble-awards">
          {% icon 'award-line' %}
          {{ Récompenses }}
        </p>
      {% endif %}
      <p class="price">
        {% icon 'money-euro-circle-line' %}
        {{ Prix }}€
      </p>
    </div>
  </header>

  <div class="sections">
    <aside class="metadata" role="menu" aria-label="Informations pour se procurer le livre">
      <ul class="unstyled actions">
        <li class="action">
          <a href="{{ TrouverLibrairie }}" class="bare" target="_blank" rel="noopener">
            {% icon 'map-pin-line' %}
            Trouver en librairie
          </a>
        </li>
        {% if CommandeWeb %}
        <li class="action">
          <a href="{{ CommandeWeb }}" class="bare" target="_blank">
            {% icon 'shopping-cart-line' %}
            Commander en ligne
          </a>
        </li>
        {% endif %}
        <li class="action">
          <a href="{{ '/commander/' | url }}" class="bare">
            {% icon 'mail-send-line' %}
            Commander par correspondance
          </a>
        </li>

        {% if PDF %}
        <li class="action download">
          <a href="{{ PDF.filename | url }}" class="bare" download="{{ Titre }}-{{ DépotLégal }} (texte intégral).pdf">
            {% icon 'file-download-line' %}
            Télécharger le texte intégral <small>(PDF, {{ PDF.filesize }})</small>
          </a>
        </li>
        {% endif %}
        {%- set NombreExtraits = (content | countAttributions) -%}
        {% if NombreExtraits > 0 %}
        <li class="action read">
          {%- if NombreExtraits == 1 -%}
          <a href="#extrait" class="bare">
            {% icon 'book-mark-line' %}
            Lire un extrait
          </a>
          {%- else -%}
          <a href="#extraits" class="bare">
            {% icon 'book-mark-line' %}
            Lire des extraits
          </a>
          {%- endif -%}
        </li>
        {%- endif %}
      </ul>

      <ul class="unstyled metadata">
        <li>{{ Pages }}</li>
        <li>Prix : {{ Prix }}€</li>
        <li>
          Date : {{ DépotLégal }}
          {% if Réédition %}
          (réédition {{ Réédition }})
          {% endif %}
        </li>
        <li>ISBN : {{ ISBN }}</li>
        <li aria-label="État : {{ Etat }}">
          {%- set icon = 'checkbox-circle-line' if Etat == 'Disponible' else 'close-circle-line' -%}
          {% icon icon, 'État :' %}
          {{ Etat }}
        </li>
      </ul>
    </aside>

    <section class="content" aria-label="Résumé et extraits du livre">
      <h2>Résumé</h2>
      {{ RésuméFormatté | safe }}

      {{ content | safe }}
    </section>
  </div>
</article>
