<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title | default(title, true) }} — Éditions REPAS (Réseau d'Échanges de Pratiques Alternatives et Solidaires)</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="verify-v1" content="8oeb8M5F8w9KaZZ4YA1SvSXx0ZASzvRZEsxx1w7omxE=">
    <link rel="stylesheet" href="{{ '/assets/fonts/noto/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/fonts/coline/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/fonts/linux-libertine/index.css' | url }}">
    {%- for _, font in Fonts -%}
    <link rel="stylesheet" href="{{ ['/assets/fonts', font, 'index.css'] | join('/') | url }}">
    {%- endfor %}
    <link rel="stylesheet" href="{{ '/assets/normalize.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/assets/site.webmanifest' | url }}">
    <link rel="preload" as="image" href="/assets/icons/index.svg" id="vector-icons">
  </head>
  <body>
    <nav aria-label="Navigation principale" class="nav nav--main">
      <ul>
        <li class="logo-item">
          <h1>
            <a href="{{ '/' | url }}" rel="home" class="brand-logo discrete" {{ 'aria-current=page' if page.url == '/' }}>
              <img src="{{ '/assets/editions-repas.png' | url }}" alt="Page d'accueil du site des Éditions REPAS" longdesc="Éditions du Réseau d'Échanges et de Pratiques Alternatives et Solidaires">
            </a>
          </h1>
        </li>
        <li style="--order: 1">
          <a href="{{ '/les-editions/' | url }}">À propos</a>
        </li>
        <li style="--order: 2">
          <a href="{{ '/catalogue/' | url }}" {{ 'aria-current=page' if page.url.startsWith('/Catalogue/') }}>Catalogue</a>
        </li>
        <li style="--order: 3">
          <a href="{{ '/chantiers-decriture/' | url }}" {{ 'aria-current=page' if page.url.startsWith('/Chantiers d\'écriture/') }}>Chantiers d'écriture</a>
        </li>
        <li style="--order: 4">
          <a href="{{ '/contact/' | url }}">Contact</a>
        </li>
      </ul>
    </nav>

    <main class="{{ htmlClass or (layout | replace('.njk', '')) }}" {% if header.image %}data-header-img style="--header-url: url({{ ('/'+header.image) | url }})"{% endif %}>{{ content | safe }}</main>

    <footer>
      <nav class="nav">
        <ul>
          <li><a href="{{ '/agenda/' | url }}">Agenda</a></li>
          <li><a href="{{ '/points-de-vente/' | url }}">Où trouver nos livres ?</a></li>
          <li><a href="{{ '/conditions-de-vente/' | url }}">Conditions de vente</a></li>
          <li><a href="{{ '/contact/' | url }}">Nous contacter</a></li>
        </ul>
      </nav>

      <nav class="nav">
        <ul>
          <li><a href="https://video.liberta.vip/a/editions_repas/video-channels" target="_blank" rel="noopener">Peertube</a></li>
          <li><a href="https://www.facebook.com/EditionsREPAS/" target="_blank" rel="noreferrer noopener">Facebook</a></li>
          <li><a href="https://twitter.com/EdRepas" target="_blank" rel="noreferrer noopener">Twitter</a></li>
        </ul>
      </nav>

      <nav class="nav">
        <ul>
          <li><a href="http://www.reseaurepas.free.fr" target="_blank" rel="noopener">Réseau REPAS</a></li>
          <li><a href="{{ '/mentions-legales/' | url }}">Mentions légales</a></li>
          <li><a href="{{ '/plan-du-site/' | url }}">Plan du site</a></li>
          <li><a href="{{ '/credits/' | url }}">Crédits</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
