<section class="banners" aria-roledescription="carousel" data-intervale-en-secondes="2" hidden>
  <ul class="items carousel-items">
    {%- for banner in collections.sélectionCatalogueBannière -%}
    <li id="slide-{{ loop.index }}" role="tabpanel" aria-roledescription="slide" hidden>
      <a href="{{ banner.url | url }}" rel="permalink" class="bare">
        {% image src=banner.data.Bannière, alt=banner.data.Titre, width=1440, loading='eager' %}
      </a>
    </li>
    {%- endfor -%}
  </ul>

  <nav class="controls carousel-tablist" role="tablist">
    <ol>
      <li><button class="rotation playback" type="button">
        <span class="play">Lecture</span>
        <span class="pause">Pause</span>
      </button></li>
      {%- for banner in collections.sélectionCatalogueBannière -%}
      <li hidden><button role="tab" type="button" aria-label="Bannière {{ loop.index }}" aria-controls="slide-{{ loop.index }}">
        <span class="original-index">{{ loop.index }}</span>
      </button></li>
      {%- endfor -%}
    </ol>
  </nav>
</section>

<script type="module" src="{{ '/assets/carousel.js' | url }}"></script>

<section class="introduction taille-étroite">
  <h2 class="h3">{% block baseline %}{% endblock %}</h2>

  {% block introduction %}{% endblock %}
</section>

<section class="catalogue">
  <h2 class="h3">Nos livres</h2>

  <ul class="unstyled grid">
  {%- for post in collections.promus -%}
    <li>
      <a href="{{ post.url | url }}" class="bare">
        {% image src=post.data.Couverture, alt=post.data.Titre, width=220 %}
      </a>
      {# <span>{{ post.data.AuteuricePrefix }} {{ post.data.Auteurice }}</span> #}
    </li>
  {%- endfor -%}
  </ul>

</section>

<section class="pointsdevente">
  <h2 class="h3">Où les trouver ?</h2>

  <p>
    <a href="{{ '/points-de-vente/' | url }}" class="bare">
      {% icon 'fiches_structures', 'Acheter en point de vente physique', 'map' %}
    </a>
  </p>

  <ul class="unstyled">
    <li>
      <a href="{{ '/points-de-vente/' | url }}">
        {% icon 'store-2-line' %} Réseau des points de vente
      </a>
    </li>
    <li>
      <a href="https://www.helloasso.com/associations/association-repas/boutiques/editions-repas-commander-en-ligne" target="_blank" rel="noopener">
        {% icon 'shopping-cart-line' %} Acheter en ligne
      </a>
    </li>
    <li>
      <a href="{{ '/commander/' | url }}">
        {% icon 'mail-send-line' %} Acheter par correspondance
      </a>
    </li>
  </ul>
</section>

<section class="apropos">
  <h2 class="h3">À propos</h2>

  <ul class="unstyled">
    <li>
      <a href="{{ '/les-editions/' | url }}">
        {% icon 'book-mark-line' %} Les Éditions REPAS
      </a>
    </li>
    <li class="esperluette hide-mobile">&amp;</li>
    <li>
      <a href="{{ '/reseau-repas/' | url }}">
        {% icon 'share-fill' %} Le Réseau REPAS
      </a>
    </li>
  </ul>
</section>

<section class="chantiers">
  <h2 class="h3">Les chantiers d'écriture</h2>

  {% block chantiers %}{% endblock %}

  <ul class="unstyled inline">
      <li><a href="{{ '/chantiers-decriture/' | url }}" class="cta" aria-label="En savoir plus sur les chantiers d'écriture">
      {% icon 'information-line' %}
      En savoir +
    </a></li>
    <li><a href="{{ '/chantiers-decriture/recits-de-chantiers/' | url }}" class="cta">
      {% icon 'quill-pen-line' %}
      Chantiers en cours
    </a></li>
  </ul>
</section>
