/**
 * Variables réutilisables
 */
:root {
  --background-color: #f9f4ef;
  --background-overlay-color: #e0dad4;
  --background-overlay-text-color: #333;
  --gap: 1rem;
  --brand-color: #333;
  --base-font-size: 100%;
  --body-padding: 0.5rem;
  --link-color: var(--brand-color);
  --link-hover-text-color: #666;
  --link-hover-color: #aaa;
  --link-active-color: var(--brand-color);

  --Couleurs-Fond: var(--background-overlay-color);
  --Couleurs-Texte: var(--background-overlay-text-color);
}

@media (min-width: 768px) {
  :root {
    --body-padding: 1rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --gap: 3rem;
    --base-font-size: 112.5%;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', 'Trebuchet MS', sans-serif;
  font-size: var(--base-font-size); /* 18px */
  line-height: 1.5;
}

body {
  background-color: var(--background-color);
  color: var(--brand-color);
  font-weight: 400;
  line-height: 1.75;
  padding: var(--body-padding);
}
  @media (min-width: 768px) {
    body {
      padding: 0 var(--body-padding) var(--gap);
    }
  }

h1, h2, h3, h4, h5 {
  margin: var(--gap) 0 calc(var(--gap) / 2.4);
  font-weight: 400;
  line-height: 1.1;
}

:first-child:where(h1, h2, h3, h4, h5) {
  margin-top: 0;
}

@media print {
  body {
    background-color: #fff;
  }

  .masquer-pour-le-print,
  .sr-only {
    display: none;
  }
}

/* via https://baseline.is/tools/type-scale-generator/ */

h1, .h1 {
  margin-top: 0;
  font-size: calc(var(--base-font-size) * 2.68);
}

h2, .h2 {font-size: calc(var(--base-font-size) * 2.16);}

h3, .h3 {font-size: calc(var(--base-font-size) * 1.72);}

h4, .h4 {font-size: calc(var(--base-font-size) * 1.34);}

h5, .h5 {font-size: calc(var(--base-font-size) * 1);}

caption,
legend,
small {
  font-size: calc(var(--base-font-size) * 0.8);
}

p:has(> small) {
  line-height: 1;
}
  small.discrete {
    color: var(--link-hover-text-color);
    padding: 0 .3rem;
  }

/*
 * Hyperliens
 */
a, a:link {
  color: var(--link-color);
}

main a:not(.bare, .cta) {
  position: relative;
  text-decoration: none;
}
main a:not(.bare, .cta)::before {
  content: '';
  border-bottom: solid 1px var(--link-color);
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;

  transition: all 0.2s ease;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover, a:focus {
  color: var(--link-hover-text-color);
  text-decoration: none;
}
main a:hover:not(.bare, .cta)::before,
main a:focus:not(.bare, .cta)::before {
  border-bottom: solid thin var(--link-hover-color);
}


a:active {
  color: var(--link-active-color);
}


/**
 * Liens de Header et Footer
 */
.nav.nav--main a:not(.discrete),
footer nav a:not(.discrete) {
  position: relative;
  text-decoration: none;
}
    .nav.nav--main a:not(.discrete):before,
    footer nav a:not(.discrete):before {
      content: '';
      border-bottom: solid 1px var(--link-hover-color);
      position: absolute;
      bottom: -0.1rem;
      left: 0;
      width: 100%;
      opacity: .7;

      transform: translateY(0.2rem);
      transition: all 0.2s ease;
    }

    .nav.nav--main a:hover:before,
    .nav.nav--main a:active:before,
    footer nav a:hover:before,
    footer nav a:active:before {
      border-bottom-width: 3px;
      transform: translateY(0.15rem);
    }

/**
 * Images and media
 */

img {
  height: auto;
  max-width: 100%;
}

/**
 * Listes
 */

.unstyled {
  list-style: none;
  padding-left: 0;
}

.inline {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

@media (min-width: 768px) {
  .inline {
    flex-direction: row;
  }
}


/*
 * Main navigation
 */

.nav ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  list-style: none;
  margin: 0;
  padding: calc(var(--gap) / 2) 0;
}
  .nav + .nav ul {
    padding-top: 0;
  }

  .nav ul a {
    white-space: nowrap;
  }

.nav.nav--main ul {
  padding: calc(var(--gap) / 2);
}
  .nav.nav--main ul > li {
    order: var(--order);
  }

  @media (max-width: 768px) {
    .nav ul .logo-item {
      flex: 0 0 auto;
    }
  }

  @media (min-width: 768px) {
    .nav ul {
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }

    .nav ul .logo-item {
      order: 3 !important;
    }
  }

  @media print {
    .nav ul li:not(.logo-item) {
      display: none;
    }
  }

  .nav.nav--main {
    font-weight: bold;
  }

.nav .brand-logo img {
  max-width: 150px;
}

@media print {
  .nav .brand-logo img {
    max-width: 80px;
  }
}

/**
 * Espacement
 */

section {
  margin-bottom: var(--gap);
}

:empty:is(div, section, span, p) {
  display: none;
}

main.layout-base p {
  max-width: 38em;
}

/**
 * Conteneur principal
 */
main:not(.layout-ouvrage) {
  margin: 1rem auto;
  max-width: 960px;
}
main.taille-étroite:not([data-header-img]) > :not(iframe),
main.taille-étroite[data-header-img] > :not(h1:first-child, iframe),
section.taille-étroite > :not(h1:first-child, iframe) {
  max-width: 38rem; /* sinon les titres prennent toute la ligne, parce que la valeur du em est plus importante */
  margin-left: auto;
  margin-right: auto;
}

.chapo {
  font-style: italic;
  white-space: pre-line;
}

[data-header-img] h1:first-of-type {
  background-blend-mode: darken;
  background-image: linear-gradient(#aaa, #999, #aaa), var(--header-url);
  background-position-y: bottom;
  background-size: cover;
  border-radius: .3rem;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 1px var(--brand-color), -1px -1px 1px var(--brand-color);
  height: 300px;
  position: relative;
  padding-inline-start: var(--body-padding);
}

@media (min-width: 768px){
  [data-header-img] h1:first-of-type {
    padding-inline-start: calc(var(--body-padding) * 2);
  }
}

.table-of-contents ol ol {
	list-style-type: disc;
	padding-left: 1.6em;
}

/**
 * Agenda
 */
iframe[src^="https://apps.compagnonnage-repas.org/nextcloud/apps/calendar/embed"] {
  border: none;
  min-height: 600px;
  max-height: 80vh;
  width: 100%;
}

/**
 * Points de vente
 */
#carte {
  height: 300px;
  margin: 2em 0;
  width: 100%;
}

  @media (min-width: 768px){
    #carte {
      height: 750px;
      max-height: 75vh;
    }
  }

.maplibregl-popup-content {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
  .maplibregl-popup-content > * {
    margin: 0;
  }

  .maplibregl-popup-content .type {
    order: -1;
  }
    .maplibregl-popup-content .type .icon {
      vertical-align: middle;
    }

/**
 * Icônes
 */
svg.icon {
  margin: 0 .1em;
  height: .9em;
  width: 1em;
}

/**
 * Tableaux
 */
table {
  border-collapse: collapse;
  margin: var(--gap) 0;
  width: 100%;
}
  table thead,
  table tfoot {
    background-color: transparent;
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, var(--brand-color), var(--brand-color));
  }

  table tfoot {
    background-position: top;
  }

  table th {
    text-align: left;
  }

  table .numeric,
  table tfoot th {
    text-align: right;
  }

  table th, td {
    padding: .5rem;
  }

/**
 * Formulaire
 */
.horizontal-field {
  display: flex;
  gap: 1em;
}
  .horizontal-field > label {
    cursor: pointer;
    min-width: 10em;
    text-align: right;
  }

  .horizontal-field:has(input[required]) > label:after {
    content: "*";
    padding-left: .25em;
  }

  @media print {
    input[type], textarea, select {
      appearance: textfield;
      background-color: transparent;
      border: 1px solid var(--background-overlay-color);
      color: var(--brand-color);
      font-style: italic;
    }
  }

/**
 * Page ouvrage
 */
.book .sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap);
}
  @media (min-width: 768px){
    .book .sections {
      grid-template-columns: 2fr 4fr;
    }
  }

.book .cover {
  text-align: center;
}

  .book > header.sections {
    align-items: center;
    background-color: var(--Couleurs-Fond);
    color: var(--Couleurs-Texte);
    padding: var(--gap);
    margin-left: calc(var(--body-padding) * -1);
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    margin-right: calc(var(--body-padding) * -1);
  }

  @media (min-width: 768px){
    .book .cover {
      text-align: right;
    }
  }

.book > header .metadata .title {
  color: var(--Couleurs-Titre);
  font-family: var(--Fonts-Titre);
  max-width: 85%;
}
  .book > header .metadata h1:first-line {
    color: var(--Couleurs-TitrePremièreLigne);
  }

.book > header .metadata .collection {
  font-family: var(--Fonts-Collection);
}
.book > header .metadata .authors {
  font-family: var(--Fonts-Auteurice);
}
.book > header .metadata .subtitle {
  font-family: var(--Fonts-SousTitre);
  font-weight: bold;
  margin-top: 0;
  max-width: 70%;
}

.book > header .metadata .authors,
.book > header .metadata .preamble-authors,
.book > header .metadata .preamble-awards {
  margin: 0;
}

.book > header .metadata .preamble-awards {
  font-weight: bold;
  margin-top: 2rem;
}

.book > header .metadata .price {
  font-weight: bold;
  margin-top: 2rem;
}
  .book > header .metadata .preamble-awards + .price {
    margin-top: 0;
  }

@media (min-width: 1200px){
  .book aside.metadata .actions,
  .book aside.metadata .metadata {
    margin-left: auto;
    max-width: 25vw;
  }
}

.book aside.metadata .action {
  margin-left: auto;
  margin-bottom: calc(var(--gap) / 3);
}
  .book aside.metadata .action.download {
    margin-top: var(--gap);
  }
  /* lien vers extraits */
  .book aside.metadata .download:not(.action) {
    margin-top: calc(var(--gap) / 3 * -1);
    margin-bottom: var(--gap);
  }

.cta,
.book aside.metadata .action a {
  display: block;
  border: 1px solid var(--Couleurs-Fond);
  border-radius: 3px;
  padding: .75rem;
  text-decoration: none;
}

.cta {
  --background-color: var(--brand-color);
}

.cta,
.cta:link,
.cta:visited,
.book aside.metadata .action a:link,
.book aside.metadata .action a:visited{
  background-color: var(--Couleurs-Fond);
  color: var(--Couleurs-Texte);
  cursor: pointer;
}

.cta:hover,
.cta:focus,
.book aside.metadata .action a:hover,
.book aside.metadata .action a:focus {
  background-color: var(--background-color);
  color: var(--Couleurs-Fond);
  text-decoration: underline;
}

.book aside.metadata .metadata {
  padding: 0;
}

.book .content > * {
  max-width: 38em;
}

.book .content :is(h2, h3, h4) {
  color: var(--Couleurs-PageTitres);
}

/**
 * Citation d'ouvrages
 *
 * ```md
 * > Blah
 * > -- page 32
 * ```
 */
.c-blockquote {
  border: 1px solid #333;
  font-family: Coline;
  font-size: 1.2em;
  margin: calc(var(--gap) / 2) 0;
  padding: var(--gap);
}

  .c-blockquote blockquote {
    padding: 0;
    margin: 0;
  }

  .c-blockquote blockquote p:first-child:first-letter {
    font-size: 4.3em;
    float: left;
    padding-right: .05rem;
    vertical-align: bottom;
  }

/**
 * Accueil
 */
main.accueil {

}

.accueil .pointsdevente .map {
  height: max(100px, min(250px, 40vh));
}

.accueil .apropos .esperluette {
  display: none;
}

@media (min-width: 768px) {
  .accueil .apropos .unstyled {
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  .accueil .apropos .esperluette {
    display: block;
    margin: .75em 0 .75em 4.5em;
  }
}




.banners {
  margin-bottom: var(--gap);
}

.banners .items {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  overflow: auto;
  margin-bottom: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
}
  .banners .items > li {
    min-width: 100%;
    scroll-snap-align: start;
    width: 100%;
  }
    .banners .items img {
      object-fit: contain;
      max-width: unset;
      width: 100%;
    }

  .banners .controls {
    counter-reset: tabCounter;
    position: relative;
  }
  .banners .controls ol {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
    .banners .controls .playback.play .pause,
    .banners .controls .playback.pause .play {
      display: none;
    }
    .banners .controls button {
      background-color: var(--background-overlay-color);
      border: 2px solid var(--background-overlay-color);
      border-radius: 5%;
      color: var(--background-overlay-text-color);
      cursor: pointer;
      display: inline-block;
      font-size: 0.7em;
      height: 2em;
      text-decoration: none;
    }

    .banners .controls [role="tab"] {
      counter-increment: tabCounter;
      border-radius: 50%;
      font-weight: normal;
      text-align: center;
      width: 2em;
    }
      .banners .controls [role="tab"] > span {
        display: none;
      }
      .banners .controls [role="tab"]::after {
        content: counter(tabCounter);
      }
    .banners .controls button[aria-selected="true"] {
      background-color: transparent;
      font-weight: bold;
    }

.catalogue .grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  margin-left: calc(var(--body-padding) * -1);
}
  .catalogue .grid li {
    display: flex;
    font-size: .8em;
    flex-direction: column;
    padding: var(--body-padding);
    text-align: center;

    position: relative;
  }

    .catalogue .grid a {
      display: block;
      max-height: 300px;
      height: 100%;
    }
    .catalogue .grid a::before {
      bottom: 0;
      box-sizing: inherit;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    .catalogue .grid a:hover::before,
    .catalogue .grid a:focus::before {
      background-color: var(--link-hover-color);
      box-shadow: 1px 1px var(--brand-color), -1px -1px var(--brand-color);
      opacity: 0.2;
    }

    .catalogue .grid img {
      object-fit: cover;
      height: 100%;
    }

@media (min-width: 768px) {
  main.accueil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main.accueil .banners,
  main.accueil .introduction {
    grid-column: 1 / span 3;
  }

  main.accueil .catalogue,
  main.accueil .chantiers {
    grid-column: span 2;
  }

    .catalogue .grid {
      grid-template-columns: repeat(4, 1fr);
    }
}
